{% load main_menu %}
{% load static %}
	<!-- SECTION: Footer -->
	<footer class="has-padding footer-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-branding">
                    <a href="{% url "index" %}"><img class="footer-branding-logo" src="{% static 'img/logo.png' %}" alt="Interim" width="326px"></a>
                    <p style="margin-left: 10px;">© 2010-2022 Interim. Телефон: +7 (908) 905-24-28</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 footer-nav">
                    {% show_main_menu 'footer-' %}
					<ul class="footer-secondary-nav">
						<li><p><a href="https://vk.com/mrfakir"><em>by Dr.</em></a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- END SECTION: Footer -->