{% load static %}
{% load main_menu %}
<div class="container-fluid">
    <div class="row">
        <div class="header-nav-wrapper">
            <div class="logo">
                <a href="{% url "index" %}"><img src="{% static 'img/logo.png' %}" alt="interim" width="326px"></a>
            </div>
            <div class="primary-nav-wrapper">
                <nav>
                    {% show_main_menu %}
                </nav>
                <div class="search-wrapper">
                    <ul class="search">
                        <li>
                            <input type="text" id="search-input" placeholder="Start typing then hit enter to search">
                        </li>
                        <li>
                            <a href="#" class="hide-search"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navicon">
                <a class="nav-toggle" href="#"><span></span></a>
            </div>
        </div>
    </div>
</div>