{% extends 'base.html' %}
{% load get_start_block %}
{% load mine_page_articles %}
{% load static %}




{% block content %}


    <!-- SECTION: Intro -->
    <section class="collective has-padding" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>{{ post.category.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>{{ post.title }}</h4>
                </div>
                <br>
                <br>
                <div class="col-md-8">
                    {% if post.post_img %}
                        <div class="img-cont">
                            <img src="{{ post.post_img.url }}" alt="{{ post.title }}" style="width: 100%;">
                        </div>
                    {% else %}
                    {% endif %}
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION: Intro -->

    <!-- SECTION: Articles -->
    <section class="latest-articles has-padding alternate-bg" id="articles">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h4>Может быть интересно...</h4>
                </div>
            </div>
            <div class="row">
                {% for i in promo_category %}
                    <div class="col-md-4">
                        <article class="article-post">
                            <a href="{{ i.get_absolute_url }}">
                                <div class="article-image has-overlay"
                                     style="background-image: url({{ i.post_img.url }})">
                                </div>
                                <figure>
                                    <figcaption>
                                        <h2>{{ i.title }}</h2>
                                        {{ i.content|safe|truncatewords_html:5 }}
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END SECTION: Articles -->



{% endblock %}
