{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Лучшая поддержка для бизнеса</h4>
        </div>
        <div class="col-md-8 col-sm-8 sort">
            <h5 style="margin-bottom: 20px;">Услуги</h5><br>
            <a onclick='document.getElementById("ooo").style.display=""; document.getElementById("btn_ooo").style.display="";document.getElementById("ip").style.display="none"; document.getElementById("btn_ip").style.display="none"'
               class="btn primary wp2">для ООО</a>
            <a onclick='document.getElementById("ooo").style.display="none"; document.getElementById("btn_ooo").style.display="none"; document.getElementById("ip").style.display=""; document.getElementById("btn_ip").style.display=""'
               class="btn primary wp2">для ИП</a>
        </div>
    </div>
    <div class="row" id="ooo">
        {% for item in first_category %}
            <div class="col-md-4">
                <article class="article-post">
                    <a href="#">
                        <div class="article-image has-overlay"
                             style="background-image: url({% static 'img/article-01.jpg' %})">
                        </div>
                        <figure>
                            <figcaption>
                                <h2>{{ item.title }}</h2>
                                {{ item.content|safe|truncatewords_html:5 }}
                            </figcaption>
                        </figure>
                    </a>
                    <ul class="article-footer">
                    </ul>
                </article>
            </div>
        {% endfor %}


    </div>
    <div class="row" id="ip" style="display: none">
        {% for item in second_category %}
            <div class="col-md-4">
                <article class="article-post">
                    <a href="#">
                        <div class="article-image has-overlay"
                             style="background-image: url({% static 'img/article-01.jpg' %})">
                        </div>
                        <figure>
                            <figcaption>
                                <h2>{{ item.title }}</h2>
                                {{ item.content|safe|truncatewords_html:5 }}
                            </figcaption>
                        </figure>
                    </a>
                    <ul class="article-footer">
                    </ul>
                </article>
            </div>
        {% endfor %}


    </div>
    <div class="row is-centered" id="btn_ooo">
        <a href="{{ url_first_category }}" class="btn secondary view-more">Смотреть больше</a>
    </div>
    <div class="row is-centered" id="btn_ip" style="display: none">
        <a href="{{ url_second_category }}" class="btn secondary view-more">Смотреть больше</a>
    </div>
</div>
